body {
    background-color: lightgray;
}

header {
    background-color: #0f172a;
    text-align: center;
    padding: 5px;
    color: white;
}

nav {
    background-color: #1e293b;
    padding: 15px;
    display: flex;
    justify-content: space-evenly;
}


nav a {
    color: white;
    text-decoration: none;

}

section {
    padding: 20px;
}

img {
    width: 300px;
    height: 200px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px gray;
}

table {
    width: 400px;
    text-align: center;
    border-collapse: collapse;
}

input {
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
}

button {
    background-color: #0f172a;
    color: white;
    padding: 5px;
    cursor: pointer;
    border-radius: 5px;
}


footer  {
    background-color: #0f172a;
    color: white;
    text-align: center;
    padding: 15px;
}